@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/Metropolis/Metropolis-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100;
	src: url('../fonts/Metropolis/Metropolis-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/Metropolis/Metropolis-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 200;
	src: url('../fonts/Metropolis/Metropolis-ExtraLightItalic.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Metropolis/Metropolis-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/Metropolis/Metropolis-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Metropolis/Metropolis-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Metropolis/Metropolis-RegularItalic.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Metropolis/Metropolis-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/Metropolis/Metropolis-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Metropolis/Metropolis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/Metropolis/Metropolis-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Metropolis/Metropolis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Metropolis/Metropolis-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Metropolis/Metropolis-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/Metropolis/Metropolis-ExtraBoldItalic.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Metropolis/Metropolis-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/Metropolis/Metropolis-BlackItalic.ttf') format('truetype');
}
